<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Dear {{ user.nickname }},</p>

<p>You are receiving this email because you have requested to change your password on the survey application
    Surveyer.</p>

<p>To do so, please follow the link below:</p>

<p><a href='{{ url_for('reset_password', token=token) }}'>Change your password</a></p>

<p>If you have not requested anything, please ignore this email.</p>

<p>Best regards,</p>

<p>The Surveyer Team.</p>
</body>
</html>